<div class="container">
    <div class="info">
        <div class="title">
            <h2>Discover</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, illum commodi necessitatibus placeat sed ullam esse, minima maxime molestias</p>
        <div class="chef">
            <div class="chef-img">
            </div>
            <div class="chef-info">
                <h4>ABDUL HASAN</h4>
                <span>CEO FOOFD FIZZA</span>
            </div>
        </div>
    </div>
    <div class="platillo">
        <img src="../../public/IMG/platillo.png" alt="">
    </div>
</div>

<style>
    .container{
        width: 100%;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5% 0;
        justify-items: center;
        align-content: center;
    }

    .container > .info{
        width: 50%;
        display: grid;
    }

    .container > .info *{
        margin: 0;
    }

    .container > .info  .title{
        display: flex;
        text-align: center;
        justify-content: left;
        align-items: center;

    }

    .container > .info > .title > h2{
        font-size: 3rem;
        font-family: arial;
    }

    .container > .info > p{
        line-height: 150%;
        color: grey;
        font-size: 1.4rem;
    }

    .container > .info > .chef{
        display: flex;
    }
    .container > .info > .chef > .chef-img{
        width: 100px;
        height: 100px;
        background-color: #ac8849;
    }

    .container > .info > .chef > .chef-info{
        height: 100px;
        display: grid;
        align-content: center;
        justify-items: center;
        padding: 0 0 0 20px  ;
    }

    .container > .info > .chef > .chef-info > span{
        color: #ac8849;
    }
</style>