<div class="container">
    <div class="container-info">
            <h3>MEET OUR CHIEF</h3>
    <span>Thes help us</span>
    </div>

    <div class="container-chiefs">

        <div class="chef-1">
            <div class="img"></div>
            <div class="info">
                <span>JHONE DOE</span>
                <span>CHIEF.CO-FUNDER</span>
            </div>
            <div class="social-media">
                <ul>
                    <li>F</li>
                    <li>T</li>
                    <li>Be</li>
                    <li>f</li>
                </ul>
            </div>
        </div>

                <div class="chef-2">
            <div class="img"></div>
            <div class="info">
                <span>PHILIP DOE</span>
                <span>CHIEF.CO-FUNDER</span>
            </div>
            <div class="social-media">
                <ul>
                    <li>F</li>
                    <li>T</li>
                    <li>Be</li>
                    <li>f</li>
                </ul>
            </div>
        </div>

                <div class="chef-3">
            <div class="img"></div>
            <div class="info">
                <span>ROSIN DOE</span>
                <span>CHIEF.CO-FUNDER</span>
            </div>
            <div class="social-media">
                <ul>
                    <li>F</li>
                    <li>T</li>
                    <li>Be</li>
                    <li>f</li>
                </ul>
            </div>
        </div>

                <div class="chef-4">
            <div class="img"></div>
            <div class="info">
                <span>MENON DOE</span>
                <span>CHIEF.CO-FUNDER</span>
            </div>
            <div class="social-media">
                <ul>
                    <li>F</li>
                    <li>T</li>
                    <li>Be</li>
                    <li>f</li>
                </ul>
            </div>
        </div>


    </div>
</div>

<style>
    *{
        box-sizing: border-box;
    }
    .container{
        display: grid;
        align-content: center;
        gap: 5rem;
        padding: 4rem 0;
        font-family: arial;
    }

    .container > .container-info{
        display: grid;
        justify-items: center;
    }

    .container  h3{
        font-size: 3rem;
        margin: 0;
    }

    .container  span{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2rem;
        color: rgb(255, 76, 56);
    }

    .container > .container-chiefs{
        max-width: 100%;
        margin: auto 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        text-align: center;
    }

    .container > .container-chiefs > div{
        display: grid;
        justify-items: center;
    }

    .container > .container-chiefs > div > .img{
        width: 5rem;
        height: 5rem;
        border: 2px solid rgb(255, 76, 56);
    }

    .container > .container-chiefs > div > .info > span{
        display: block;
    }

    .container > .container-chiefs > div > .info > span:nth-child(1) {
        color: #000;
        font-weight: bold;
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .container > .container-chiefs > div > .info > span:nth-child(2) {
        color: red;
        font-size: 1rem;
    }

    .container > .container-chiefs > div > div >  ul{
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .container > .container-chiefs > div > div > ul > li{
        border: 1px solid #000;
        padding: 5px;
        border-radius: 50%;
    }

    @media (max-width: 768px){
        .container h3{
            font-size: 2rem;
        }
    }
</style>