<div class="container">
    <div class="menu">
        <ul>
            <li>ALL</li>
            <li>VINE & DRINKS</li>
            <li>DESSERT & SHAKS</li>
            <li>FISH & SEA FOOD</li>
            <li>MEAT & MEALS</li>
            <li>SALAD & LETTUCES</li>
        </ul>
    </div>
    <div class="carrusel">
        <img src="/landing-rest/IMG/healthy-food-3.jpg" alt="">
        <img src = "/landing-rest/IMG/eating-3.jpg" alt="">
        <img src="/landing-rest/IMG/food-3.jpg" alt="">
    </div>
</div>

<style>

    .menu{
        width: 100%;
        background-color: #f8f6f7;
        padding: 10px 0;
    }

    .menu > ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }


    .menu > ul > li:hover{
        color: #ac8849;
    }

    .carrusel{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .carrusel > img{
        width: 100%;
        height: 100%;
    }

    @media (max-width:1000px){
        .menu > ul > li{
            font-size: 0.8rem;
        }

        .carrusel > img{
            width: auto;
            max-width: 100%;
        }
    }

</style>