<div class="container">
    <div class="menu">
        <button class="button-menu"><i class="bi bi-list"></i></button>
        <ul class="menu-items">
            <li>ALL</li>
            <li>VINE & DRINKS</li>
            <li>DESSERT & SHAKS</li>
            <li>FISH & SEA FOOD</li>
            <li>MEAT & MEALS</li>
            <li>SALAD & LETTUCES</li>
        </ul>
    </div>
    <div class="carrusel">
        <img src="/landing-rest/IMG/healthy-food-3.jpg" alt="">
        <img src = "/landing-rest/IMG/eating-3.jpg" alt="">
        <img src="/landing-rest/IMG/food-3.jpg" alt="">
    </div>
</div>

<style>

    *{
        box-sizing: border-box;
    }

    .menu{
        width: 100%;
        background-color: #f8f6f7;
        padding: 10px 20px;
        display: block;
    }

    .menu > ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    .button-menu{
        background-color: transparent;
        border: none;
        z-index: 99;
        display: none;
        font-size: 2rem;
    }

    .menu > ul > li:hover{
        color: #ac8849;
    }

    .carrusel{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .carrusel > img{
        width: 100%;
        height: 100%;
    }

    @media(max-width: 768px){
        .button-menu{
            display: block;
            color: #000;
        }

        .menu  .menu-items{
            display: none;
        }

        .menu > .menu-visible{
            position: absolute;
            width: 100%;
            height: 25vh;
            background-color: #000a;
            color: #fff;
            display: grid;
            justify-items: center;
            place-content: center;
            left: 0;
        }

        .menu > ul > li{
            padding: 10px;
        }
        .carrusel{
            display: flex;
            flex-direction: column;
            place-items: center;
            gap: 30px;
        }
        .carrusel img{
            width: 40%;
            height: 50%;
        }
    }

</style>

<script is:inline>
    let buttonM = document.querySelector(".button-menu")
    let menuD = document.querySelector(".menu-items")

    buttonM.addEventListener("click", () =>{
        menuD.classList.toggle("menu-visible")
    })
</script>