<header class="container">
    <div class="logo">
        Foody
    </div>
    <button class="menu-h"><i class="bi bi-list"></i></button>
    <ul class="flex-container-a">
        <li>HOME</li>
        <li>PAGES</li>
        <li>MENU</li>
        <li>GALLERY</li>
        <li>BLOG</li>
        <li>CONTACTS</li>
    </ul>
</header>

<style>
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .container{
        font-family: sans-serif;
        position: absolute;
        color: #fff;
        width: 100%;
        padding: 2.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        font-size: 2rem;
    }

    .menu-h{
        display: none;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 2rem;
    }

    ul{
        list-style: none;
        display: flex;
        gap: 40px;
    }

    ul > li{
        text-align: center;
        font-size: 1rem;
    }

    ul > li:hover{
         color: #ac8849;
    }

    @media (max-width: 768px){
        .menu-h{
            display: block;
            z-index: 100;
        }

        ul{
            display: none;
            font-size: 2rem;
            gap: 40px;
        }

        .menu-visible{
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: #000d;
            flex-direction: column;
            justify-content: center;

        }
    }
</style>

<script is:inline>
    let botonMenu = document.querySelector(".menu-h")
    let menuC = document.querySelector(".flex-container-a")

    botonMenu.addEventListener("click", () => {
        menuC.classList.toggle("menu-visible")
    })
</script>
