<div class="container">
    <div class="logo">
        FOODY
    </div>
    <ul>
        <li>HOME</li>
        <li>PAGES</li>
        <li>MENU</li>
        <li>GALLERY</li>
        <li>BLOG</li>
        <li>CONTACTS</li>
    </ul>
</div>

<style>
    .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        width: 70%;
        padding: 4% 15%;
        background-color: transparent;
        position: absolute;
        color: #fff;
    }

    .container > .logo{
        font-size: 2rem;
    }

    ul{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 30px;
        list-style: none;
        font-family: arial;
        
    }

    ul > li:hover{
        color: #ac8849;
        transition: 0.2s;
        text-align: center;
    }
</style>