<div class="container">
    <div class="container-info">
        <h3>SUBSCRIBE NOW</h3>
        <span>Thes help us</span>
    </div>
    <div class="container-inputs">
        <input type="text" placeholder="Enter your Email">
        <button>SUBSCRIBE</button>
    </div>
    <div class="container-social">
        <ul>
            <li>F</li>
            <li>T</li>
            <li>Be</li>
            <li>f</li>
         </ul>
    </div>
</div>

<style>
    .container{
        display: grid;
        align-content: center;
        justify-items: center;
        gap: 3rem;
        font-family: arial;
        padding: 4rem 0;
        background-image: url("../../public/IMG/Main2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }

    .container > .container-info{
        display: grid;
        justify-items: center;
        align-content: center;
        width: 100%;
    }

    .container  h3{
        font-size: 3rem;
        margin: 0;

    }

    .container  span{
        font-family: 'Times New Roman', Times, serif;
        font-size: 2rem;
        color: rgb(255, 76, 56);
    }

    .container-inputs{
        width: 50%;
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .container-inputs > input{
    }

    .container-inputs > button{
        padding: 2% 1%;
        font-size: 11px;
        background-color: rgb(255, 76, 56);
        border: none;
        color: #fff;
        font-weight: bold;
    }

    .container-social > ul{
        display: flex;
        gap: 2rem;
        list-style: none;
        padding: 0;
    }

    @media (max-width: 768px) {
        .container  h3{
            font-size: 2rem;
        }

        .container-inputs{
            flex-direction: column;
        }
    }

</style>